<div class="index">
    <% site.posts.forEach(function(post){ %>
        <article>
            <% if (post.title.length === 0) {
                post.title = "[文章没有标题]"
            } %>
            <a class="title" href="<%- url_for(post.path) %>"><%= post.title %></a>
            <div class="meta">
                <time><%- date(post.date, 'YYYY-MM-DD') %></time>
                <% if (post.categories.length > 0) { %>
                    <div class="category">
                        <% post.categories.forEach(function (category) { %>
                            <span><%= category.name %></span>
                        <% }) %>
                    </div>
                <% } %>
            </div>
        </article>
    <% }) %>
    <aside>
        <img src="https://avatars.githubusercontent.com/u/32607917?v=4" alt="avatar">
        <h3 class="author" >魏小宸</h3>
        <span>一个程序猿，<a href="<%- url_for('/about') %>">了解更多。</a></span>
    </aside>
</div>

