<div class="index">
    <% site.posts.forEach(function(post){ %>
        <article>
            <% if (post.title.length === 0) {
                post.title = "[文章没有标题]"
            } %>
            <a class="article-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
            <div class="article-content"><%- truncate(strip_html(post.content), {length: 150}) %></div>
            <div class="article-meta">
                <img src="/images/calendar.png" alt="">
                <time><%- date(post.date, 'YYYY-MM-DD') %></time>
                <% if (post.categories.length > 0) { %>
                    <img src="/images/tags.png" alt="">
                    <div class="category">
                        <% post.categories.forEach(function (category) { %>
                            <span><%= category.name %></span>
                        <% }) %>
                    </div>
                <% } %>
            </div>
        </article>
    <% }) %>
</div>

