<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1 user-scalable=no"/>
    <meta name="keywords" content="<%= config.keywords %>">
    <meta name="description" content="<%= config.description %>"/>
    <%- meta_generator() %>
    <%- favicon_tag(theme.favicon) %>

    <!-- 引入谷歌字体-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monda&family=Roboto+Mono&display=swap" rel="stylesheet">
    <%- css('/css/theme') %>
</head>
<body>
<div class="background"></div>
<div class="container">
    <header>
        <div class="header-background">
            <div class="header-background-img">
                <img src="<%= theme.backgroundUrl %>" alt="header-background-img">
            </div>
            <div class="header-background-filter">
                <div class="intro">
                    <img src="<%= theme.avator %>" alt="avator" class="avator">
                    <section>
                        <h1 class="site-title"><%= config.title %></h1>
                        <div class="hitokoto"><%= theme.hitokoto %></div>
                    </section>
                </div>
            </div>
        </div>
        <nav>
            <% Object.keys(theme.menu).forEach(function(key) { %>
                <a href="<%= theme.menu[key] %>"><%= _p(key) %></a>
            <% }) %>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <% if (theme.giscus.enable === true && (is_post() || (is_page()))) { %>
            <script src="https://giscus.app/client.js"
                    data-repo="<%= theme.giscus.repo%>"
                    data-repo-id="<%= theme.giscus.repo_id%>"
                    data-category="<%= theme.giscus.category%>"
                    data-category-id="<%= theme.giscus.category_id%>"
                    data-mapping="<%= theme.giscus.mapping%>"
                    data-reactions-enabled="<%= theme.giscus.reactions_enabled%>"
                    data-emit-metadata="<%= theme.giscus.emit_metadata%>"
                    data-input-position="<%= theme.giscus.input_position%>"
                    data-theme="<%= theme.giscus.theme%>"
                    data-lang="<%= theme.giscus.lang%>"
                    data-loading="<%= theme.giscus.loading%>"
                    crossorigin="<%= theme.giscus.crossorigin%>"
                    async>
            </script>
        <% } %>
        <div class="site-intro">
            <span>站点托管于<a href="<%= theme.repo %>>">GitHub</a></span>
            <span>由 <a href="https://hexo.io/zh-cn/">Hexo</a>强力驱动</span>
            <span>目前总计<a href="#"><%- totalcount(site) %></a>字</span>
            <span><%= theme.icp %></span>
        </div>
    </footer>
    <div id="backTop">
        <img src="/images/scroll_to_top.png" alt="回到顶部">
        <div class="tip">回到顶部</div>
    </div>
</div>

<%- js('/js/theme.js') %>
</body>
</html>