<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="<%= config.keywords %>">
    <meta name="description" content="<%= config.description %>"/>
    <%- meta_generator() %>
    <%- favicon_tag(theme.favicon) %>
    <%- css('/css/theme') %>
</head>
<body>
<%- body %>
<%- js('/js/theme.js') %>
</body>
</html>