<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1 user-scalable=no"/>
    <meta name="keywords" content="<%= config.keywords %>">
    <meta name="description" content="<%= config.description %>"/>
    <!-- 引入谷歌字体-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <%- meta_generator() %>
    <%- favicon_tag(theme.favicon) %>
    <%- css('/css/theme') %>
</head>
<body>
<div class="background"></div>
<div class="container">
    <header>
        <div class="header-background">
            <div class="header-background-img">
                <img src="<%= theme.backgroundUrl %>" alt="header-background-img">
            </div>
            <div class="header-background-filter">
                <div class="intro">
                    <img src="<%= theme.avator %>" alt="avator" class="avator">
                    <section>
                        <h1 class="site-title"><%= config.title %></h1>
                        <div class="hitokoto"><%= theme.hitokoto %></div>
                    </section>
                </div>
            </div>
        </div>
        <nav>
            <% Object.keys(theme.menu).forEach(function(key) { %>
                <a href="<%= theme.menu[key] %>"><%= _p(key) %></a>
            <% }) %>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <% if (theme.utterances.enable === true && (is_post() || (is_page() && page.path === 'link/index.html'))) { %>
            <script src="https://utteranc.es/client.js"
                    repo="<%- theme.utterances.repo %>"
                    issue-term="pathname"
                    theme="<%- theme.utterances.theme %>"
                    crossorigin="anonymous"
                    async>
            </script>
        <% } %>
        <div class="site-intro">
            <span>站点托管于<a href="<%= theme.repo %>>">GitHub</a></span>
            <span>由 <a href="https://hexo.io/zh-cn/">Hexo</a>强力驱动</span>
            <span>目前总计<a href="#"><%- totalcount(site) %></a>字</span>
            <span><%= theme.icp %></span>
        </div>
    </footer>
</div>

<%- js('https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js') %>
<%- js('/js/theme.js') %>
</body>
</html>