<article class="post">
    <% if (page.title.length === 0) {
        page.title = "[文章没有标题]"
    } %>
    <div class="post-header">
        <h1 class="title"><%= page.title %></h1>
        <div class="post-meta-box">
            <div class="post-meta">
                <i class="iconfont icon-calendar"></i>
                <time><%- date(page.date, 'YYYY-MM-DD') %></time>
                <% if (page.categories.length > 0) { %>
                    <i class="iconfont icon-tag"></i>
                    <div class="category">
                        <% page.categories.forEach(function (category) { %>
                            <span><%= category.name %></span>
                        <% }) %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="post-content"><%- page.content %></div>
    <div class="post-pagination">
        <% if (page.prev != null) { %>
            <a class="prev" href="<%- url_for(page.prev.path)%>">
                <i class="iconfont icon-arrow-left"></i>
                <span class="text-overflow-hidden"><%- page.prev.title %></span>
            </a>
        <% } %>
        <% if (page.next != null) { %>
            <a class="next" href="<%- url_for(page.next.path)%>">
                <span class="text-overflow-hidden"><%- page.next.title %></span>
                <i class="iconfont icon-arrow-right"></i>
            </a>
        <% } %>
    </div>
</article>